<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <link rel="stylesheet" href="stylepassword.css">
    <title>GBA - Recuperar contraseña</title>
</head>
<body>
    <div class="wrapper">
        <form id="reset-password-form">
            <h1>Olvidaste tu contraseña?</h1>
            <div class="input-box">
                <input type="password" id="new-password" placeholder="Contraseña nueva" required>
            </div>
            <div class="input-box">
                <input type="password" id="confirm-password" placeholder="Confirmar contraseña" required>
            </div>
            <div class="remember-forgot">
                <a href="/index.html" class="btn" id="reset-password-link">Resetear Contraseña</a>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('reset-password-link').addEventListener('click', function(event) {
            event.preventDefault(); // Previene el comportamiento predeterminado del enlace

            var form = document.getElementById('reset-password-form');
            var newPassword = document.getElementById('new-password').value;
            var confirmPassword = document.getElementById('confirm-password').value;

            // Validación del formulario
            if (form.checkValidity()) {
                if (newPassword === confirmPassword) {
                    // Redirige solo si el formulario es válido y las contraseñas coinciden
                    window.location.href = '/index.html';
                } else {
                    // Muestra un mensaje de error si las contraseñas no coinciden
                    alert('Las contraseñas no coinciden.');
                }
            } else {
                // Muestra los mensajes de validación
                form.reportValidity();
            }
        });
    </script>
</body>
</html>
