<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <link rel="stylesheet" href="stylepassword.css">
    <title>GBA - Recuperar contraseña</title>
    <link rel="icon" href="assets/Logo_PBSAS2.webp" type="image/x-icon">
</head>
<body>
    <div class="nav-wrapper-white">
        <nav>
            <img src="assets/logo.png" alt="logoGBA">
        </nav>
    </div>
    <div class="wrapper">
        <form id="reset-password-form">
            <h1>Olvidaste tu contraseña?</h1>
            <div class="input-box">
                <input type="email" id="mail" placeholder="Ingresa tu email" required>
            </div>
            <div class="remember-forgot">
                <a href="forgotpasswordchange.html" class="btn" id="reset-password-link">Enviar</a>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('reset-password-link').addEventListener('click', function(event) {
            event.preventDefault(); // Previene el comportamiento predeterminado del enlace

            var form = document.getElementById('reset-password-form');
            var mail = document.getElementById('mail').value;

            if (form.checkValidity() && mail) {
                // Redirige solo si el formulario es válido y el campo de correo electrónico no está vacío
                window.location.href = 'forgotpasswordchange.html'; // Redirige a la página de cambio de contraseña
            } else {
                // Muestra los mensajes de validación
                form.reportValidity();
            }
        });
    </script>
</body>
</html>