<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <link rel="stylesheet" href="styleinicio.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>GBA - Inicio</title>
    <link rel="icon" href="assets/Logo_PBSAS2.webp" type="image/x-icon">
</head>
<body>
    <header>
            <div class="topnav">
                <img src="assets/logo.png" class="active">
                <div id="myLinks">
                    <a href="inicio.html">Inicio</a>
                    <a href="#">Subir Legajo</a>
                    <a href="../index.html">Cerrar Sesion</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
                </a>
            </div>    
    </header>
    <main><br><br>
        <section class="search">
            <h2>Buscar Legajo</h2>
            <form>
                <label for="search-input">Número de Legajo:</label>
                <input type="text" id="search-input" name="search-input" placeholder="Ingrese número de legajo">
                <button type="submit">Buscar</button>
            </form>
        </section><br>
        <section class="results">
            <h2>&nbsp;&nbsp;Resultados</h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 GBA. Todos los derechos reservados.</p>
    </footer>
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>
</body>
</html>