<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styleregister.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>GBA - Registrarse</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-wrapper-white">
                <nav>
                    <img src="assets/logo.png" alt="logoGBA">
                </nav>
            </div><br><br><br>
        <div class="wrapper">
            <form action="">
                <h1>Registrarse</h1>
                <div class="input-box">
                    <label class="label-text">Nombre: </label>
                    <input type="text" placeholder="" required>
                </div>
                <div class="input-box">
                    <label class="label-text">Apellido: <input type="text" placeholder="" required></label>
                </div>
                <div class="input-box">
                    <label class="label-text">DNI: <input type="text" placeholder="" maxlength="8" required></label>
                </div>
                <div class="input-box">
                    <label class="label-text">Contraseña: <input type="password" placeholder="" required></label>
                </div>
                <div class="input-box">
                    <label class="label-text">Confirmar Contraseña: <input type="password" placeholder="" required></label>
                </div>
                <div class="remember-forgot">
                    <a href="inicio.html" class="btn" id="reset-password-link">Crear Usuario</a>
                </div>
            </form> 
        </div>
        </div>
    </body>
</html>