<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styleregister.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>GBA - Registrarse</title>
        <link rel="icon" href="assets/Logo_PBSAS2.webp" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <div class="nav-wrapper-white">
                <nav>
                    <img src="assets/logo.png" alt="logoGBA">
                </nav>
            </div><br><br><br>
            <div class="wrapper">
                <form id="login-form" action="">
                    <h1>Registrarse</h1>
                    <div class="input-box">
                        <label class="label-text">Nombre: <input type="text" id="name" placeholder="" required></label> 
                    </div>
                    <div class="input-box">
                        <label class="label-text">Apellido: <input type="text" id="last-name" placeholder="" required></label>
                    </div>
                    <div class="input-box">
                        <label class="label-text">DNI: <input type="text" id="dni" placeholder="" maxlength="8" required></label>
                    </div>
                    <div class="input-box">
                        <label class="label-text">Contraseña: <input type="password" id="password" placeholder="" required></label>
                    </div>
                    <div class="input-box">
                        <label class="label-text">Confirmar Contraseña: <input type="password" id="confirm-password" placeholder="" required></label>
                    </div>
                    <div class="remember-forgot">
                        <a href="../index.html" class="btn" id="create-user">Crear Usuario</a>
                    </div>
                </form> 
            </div>
        </div>
        <script>
            document.getElementById('create-user').addEventListener('click', function(event) {
                event.preventDefault(); 
    
                var form = document.getElementById('login-form');
                var username = document.getElementById('name').value;
                var lastName = document.getElementById('last-name').value;
                var dni = document.getElementById('dni').value;
                var password = document.getElementById('password').value;
                var cpassword = document.getElementById('confirm-password').value;
    
                // Validación del formulario
                if (form.checkValidity() &&  username.trim() !== '' && lastName.trim() !== '' && dni.trim() !== '' && password.trim() !== '' && cpassword.trim() !== '' && password === cpassword) {
                    window.location.href = '../index.html'; 
                } else if  (password !== cpassword) {
                        alert('Las contraseñas no coinciden.');
                    } else {
                    form.reportValidity();
                }
            });
        </script>
    </body>
</html>